.customize-control-number input.osixthreeo-number-value {
  width: calc(100% - 18px);
}

.customize-control-number span.osixthreeo-reset-number {
  display: inline-block;
  position: relative;
  width: 12px;
  height: 12px;
  line-height: 1;
  color: rgba(0, 0, 0, 0.2);
  cursor: pointer;
  text-align: center;
}

.customize-control-number span.osixthreeo-reset-number:hover {
  color: #2e86b9;
}

.customize-control-number span.osixthreeo-reset-number span {
  width: 12px;
  height: 12px;
  font-size: 12px;
  line-height: 1;
}
